NEXTCLOUD_PORT=8081
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_S3_HOST=minio
NEXTCLOUD_S3_BUCKET=nextcloud
NEXTCLOUD_S3_KEY=nextclouduser
NEXTCLOUD_S3_SECRET=nextcloudsecret
NEXTCLOUD_S3_PORT=9000
NEXTCLOUD_S3_SSL=false
NEXTCLOUD_S3_REGION=us-east-1
NEXTCLOUD_S3_USEPATH_STYLE=true
NEXTCLOUD_S3_AUTOCREATE=true
NEXTCLOUD_TRUSTED_PROXIES=10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 127.0.0.1
NEXTCLOUD_CLI_URL=https://cloud.example.com
